<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="MenuLayout/menulayout.html :: head">
</head>
<body>
<div th:replace="MenuLayout/menulayout.html :: menu"></div>

<dialog class="w-50 h-25 bg-primary-subtle border-primary rounded" id="modalDeleta">
    <button id="btnModalDeleta" class="btn btn-danger" type="button">&Chi; Sair</button>
</dialog>

<div class="container d-flex bg-primary-subtle flex-column my-5">
    <a class="btn btn-primary justify-end w-25 my-2" th:href="@{/servico}">Adicionar Endereco</a>
    <table class="table table-hover my-2">
        <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">CEP</th>
            <th scope="col">UF</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
            <th scope="col">Rua</th>
            <th scope="col">Nro</th>
            <th scope="col">Complemento</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="endereco : ${cliente.enderecos}">
            <th scope="row" th:text="${endereco.id}"></th>
            <td th:text="${endereco.cep}"></td>
            <td th:text="${endereco.uf}"></td>
            <td th:text="${endereco.estado}"></td>
            <td th:text="${endereco.cidade}"></td>
            <td th:text="${endereco.rua}"></td>
            <td th:text="${endereco.numero}"></td>
            <td th:text="${endereco.complemento}"></td>
            <td class="d-flex gap-2 p-2">
                <a class="btn btn-warning" th:href="@{/cliente/{id}/endereco/{idEndereco}(id=${cliente.id})(idEndereco=${endereco.id})}">Editar</a>
                <a class="btn btn-danger" onclick="perguntaMensagem()" th:href="@{/cliente/{id}/enderecoDel/{idEndereco}(id=${cliente.id})(idEndereco=${endereco.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="MenuLayout/menulayout :: rodape"></footer>
</body>
</html>